@import './reset';

$primary-font: 'Open Sans';
$font-type: monospace;

$color-save-1: rgb(140, 15, 61);
$color-save-2: rgb(14, 142, 121);
$color-save-3: rgb(9, 81, 140);
$color-save-4: rgb(14, 140, 85);

$font-color-white: white;
$font-color-1: rgb(14, 142, 121);
$font-hover-1: rgb(4, 110, 93);

$background-color-white: white;
$background-color-1: rgb(14, 142, 121);
$background-hover-1: rgb(4, 110, 93);

$header-color-1: rgb(14, 142, 121);
$header-hover-1: rgb(4, 110, 93);

$slider-thumb-color: rgb(14, 142, 121);
$slider-hover-1: rgb(4, 110, 93);

$border-color-1: rgb(14, 142, 121);
$border-hover-1: rgb(4, 110, 93);

$padding-standard: 2rem;
$margin-standard: 1.6rem;
