@import '../../../sass/config';

.data-container {
  background-color: $background-off-white;
  .average-trends {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-top: 1px solid $calendar-border-color;
    border-bottom: 1px solid $calendar-border-color;
  }

  .past-trends {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-bottom: 1px solid $calendar-border-color;
  }

  .title {
    width: 20%;
    margin: 0;
    padding: 5px;
    font-size: 14px;
    color: $weekend-color;
  }

  .btn {
    padding: 3px;
    margin: 1.5px;
    font-size: 14px;
    color: $weekend-color;
  }

  .selected.average-trends {
    background-color: $calendar-color;

    .selected {
      color: white;
      font-size: 16px;
    }
  }

  .selected.past-trends {
    background-color: $calendar-color;

    .selected {
      color: white;
      font-size: 16px;
    }
  }
}
