@import '../../../sass/config';

.entry-container{  
  margin-bottom: 10px;
  height: 205px;
  white-space: nowrap; 
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 10px;
  border-radius: 8px; 
  font-family: $font-family;
  
  .time-date-container{
    text-align: center;
    margin-right: 5px;
    height: 25px;

    span{
      font-size: 21px;
    }

    .date {
      margin-right: 10px;
    }
  }

  .content-container{
    height: 170px;
    margin: 5px;
    
    .emotions-main-container{
      display: flex;
      justify-content: space-around;
      margin: 10px;
      max-height: 80px;
      
        .mood{
          border: 1px solid white;
          width: 50px;
          height: auto;
          display: flex;
          flex-direction: column;

          .mood-icon-container{
            display: flex;
            justify-content: center;
          }

          .mood-name{
            display: flex;
            justify-content: center;
            margin-top: 5px;
          }
        }

        .emotions-second-container{
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          width: 50%;

          .emotion-title{
            margin-right: 10px;
            margin-bottom: 5px;
          }
  
          .emotion{
             margin-bottom: 10px;
            margin-right: 10px;
            font-size: 14px;
          }
        }

    }

    .actions-container{
      display: flex;
      justify-content: flex-start;
      flex-wrap: nowrap;
      min-height: 50px;
      width: 100%;

      .activity-title{
        margin-right: 5px;
      }

      .activity-list{
        display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

        .action{
          font-size: 14px;
          margin-right: 5px;
        
        }
      }

    }

    .notes-container{
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      margin-top: 12px;

      .notes-title{
        margin-right: 5px;
      }

      .notes{
      font-size: 14px;
     
      }
    }
  }
}

.amazing{
  border: 2px solid $dark-orange;

  .time-date-container{
    width: 100%;
    background-color: $amazing;
  }

  .content-container{    
    .emotions-main-container{
        .mood{
          color: $amazing;
        }
      }
    }
}

.good{
  border: 2px solid $dark-yellow;

  .time-date-container{
    width: 100%;
    background-color: $good;
  }

  .content-container{    
    .emotions-main-container{
        .mood{
          color: $good;
        }
      }
    }
}

.average{
  border: 2px solid $dark-green;

  .time-date-container{
    width: 100%;
    background-color: $ok;
  }

  .content-container{    
    .emotions-main-container{
        .mood{
          color: $ok;
        }
      }
    }
}

.bad{
  border: 2px solid $dark-blue;

  .time-date-container{
    width: 100%;
    background-color: $bad;
  }

  .content-container{    
    .emotions-main-container{
        .mood{
          color: $bad;
        }
      }
    }
}

.awful{
  border: 2px solid $dark-purple;

  .time-date-container{
    width: 100%;
    background-color: $awful;
  }

  .content-container{    
    .emotions-main-container{
        .mood{
          color: $awful;
        }
      }
    }
}

.entry-container-link {
  text-decoration: none !important;
  color: black;
}