@import '../../../sass/config';

.navigation-container{
 display: flex;
 justify-content: center;
 height: 40px;
 width: 100%;
 border-top: 0.5px solid $nav-border-color;
 position: fixed;
 bottom: 0;
 left: 0;
 background-color: whitesmoke;
 font-family: $primary-font;

 .navbar{
   width: 100%;
   display: flex;

   div{
     width: 33.33%;
     display: flex;
     align-items: center;
     justify-content: center;
   }
  
   #home{
    border-left: 1px solid $nav-border-color;
    border-right: 1px solid $nav-border-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    .link{
      font-size: 18px;
    }

    .link-name{
      font-size: 10px;
    }
   }

   #nav-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    .link{
      font-size: 18px;
    }

    .link-name{
      font-size: 10px;
    }
   }
  
  .link{
    text-decoration: none;
    color: $nav-link-color;
  }
 }
}

