@import '../../../sass/config';

$border-color: #E7E7E7;

.settings-container{
  font-family: $font-family;
  width: 100%; 
  min-height: 100%;
  padding-top: $margin-standard * 2.5;
  padding-bottom:50px;
  color: $font-color;

  .title-container{
    text-align: center;
    border-bottom: 1px solid $border-color;
    width: 95%;
    margin: auto; 
    font-size: 30px;
    font-family: $title-font;

    h1{
    margin-top: 10px; 
    color: $font-color;
    margin-bottom: 10px;
      
    }
  }

  .user-profile-edit-container{
    border-bottom: 1px solid $border-color;
    width: 95%;
    margin: auto; 

    .user-title{
      margin-left: 10px;
      margin-bottom: 2em;
      margin-top: 1em;
    }

    .user-form{
      margin-left: 10px;
      color: $font-color;
      margin-bottom: 4em;


      .email-input, .password-input, .new-password-input {
      font-size: 14px;
      width: 95%;
      border: 1px solid $nav-border-color;
      margin-bottom: 10px;
      color: $font-color;
      }

      .edit-user-btn{
        font-size: 14px;
        margin-right: 2em;
        margin-top: 10px;
        color: $font-color;
        border: 1px solid $font-color;
        background-color: white;
        padding: 5px;
        border-radius: 8px; 
        float: right;
        width: 50px;
      }

      .edit-user-btn:active{
        background-color: $main-color;
        color: $font-color;
      }
    }
  }

  .edit-homepage{
    border-bottom: 1px solid $border-color;
    margin-bottom: 50px;
    width: 95%;
    margin: auto; 

    .homepage-title{
      margin-left: 10px;
      color: $font-color;
      margin-bottom: 2em;
      margin-top: 1em;
    }

    .homepage-btn-container{
      display: flex;
      margin-bottom: 2em;
      justify-content: space-evenly;

      button{
      font-size: 14px;
      color: $font-color;
      border: 1px solid $font-color;
      background-color: white;
      border-radius: 8px; 
      padding: 10px;
      width: 100px;
      }

      button:active{
        background-color: $main-color;
        color: $font-color;
      }

      button:focus{
        background-color: $main-color;
        color: $font-color;
      }
    }
  }

  .done-btn-container{
    display: flex;
    justify-content: center;
    margin-top: 1em;

    .done-btn{
      font-size: 16px;
      color: $font-color;
      border: 1px solid $font-color;
      background-color: white;
      padding: 10px;
      border-radius: 8px; 
      width: 95%;
      font-weight: 450;
    }

    .done-btn:active{
      background-color: $main-color;
      color: $font-color;
    }
  }

}