@import '../../../sass/config';

.data-container {
  font-family: $font-family;

  .mood-or-emotions-switch {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid $calendar-border-color;
    margin-bottom: 20px;
    width: 100%;

    .btn {
      font-family: $font-family;
      color: $font-color;
      text-align: center;
      font-size: 16px;
      padding: 0.4rem;
      background: transparent;
      border: none;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    .selected {
      font-size: 18px;
      background-color: $calendar-color;
      color: white;
      box-shadow: $component-light-shadow $shadow-color-header;
    }
  }
}
