@import '../../../sass/config';

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $main-color;
  color: $font-color;
  font-family: $font-family;
  box-shadow: $component-light-shadow $shadow-color-header;
  overflow: hidden;
  position: fixed;
  z-index: 1;

  .menu-icon{
    margin-left: $margin-standard / 2;

    .line{
      width: 26px;
      height: 3px;
      background-color: $font-color;
      margin: 5px 0;
    }
  }

  .bm-menu-wrap{
  top: 0;
    
  }
  
  .bm-item-list{
    background-color: whitesmoke;
    position: fixed ;
    top: 0;
    left: 0;
    width: 80%;

      .main-title-container{
        background-color: $main-color;
        border-bottom: 1px solid $main-color; 
        height: 80px;

        .main-title{
          padding: 10px;
          text-align: center;
          font-family: $title-font;
          color: $font-color;
          font-weight: bold;
        }

        .emotion-icon-container{
          display: flex;
          justify-content: center;

          .emotion{
          padding-left: 10px;
          padding-right: 10px;
          font-size: 20px;
          }

          #fa-amazing{
            color:$amazing;
          }

          #fa-good{
            color:$good;
          }

          #fa-ok{
            color: $ok;
          }

          #fa-bad{
            color: $bad;
          }

          #fa-awful{
            color: $awful;
          }
        }
    }

    .username, .email{
      color: $font-color;
      text-align: center;
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

   

     .home-container, .settings-icon-container, .login-container, .logout-container{
      display: flex !important;
      flex-direction: row;
     
      .home-link {
        margin-left: 3.5px;
      } 
      
      .logout-link{
       margin-left: 4px;
      }
    }

    .link{
      color: $font-color;
      margin-left: 30px;
      font-size: 16px;
    }

    .settings-icon, .home-icon, .login-icon, .logout-icon{
      font-size: 16px;
    }
  }

  .main-title {
    font-family: $title-font;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.02rem;
  }

  .link{
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    color: $font-color;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: $pad-standard / 2 0 $pad-standard / 2 0;
  }

    #add-btn{
      margin-right: $margin-standard / 2;
      font-size: 50px;
    }
}