@import '../../../sass/config';

.single-entry-view-main-container {
  padding-top: $margin-standard * 3;
  font-family: $font-family;
  color: $font-color;
  width: 100%;

  .single-entry-view-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: $margin-standard;
    width: 100%;

    .title {
      font-family: $font-family;
      font-size: 1.4rem;
      color: $font-color;
    }
  }
}
