@import '../../../sass/config';

.notes-actions {
  font-family: $primary-font, $font-type;
  background-color: $background-off-white;
  color: $font-color-black;
  padding-top: $margin-standard * 3;
  width: 100%;
  height: fit-content;

  // .title-wrap {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   margin-top: $margin-standard / 2;
  //   margin-bottom: $margin-standard / 2;
  //   width: 100%;

  //   .title {
  //     display: block;
  //     font-size: 1.1rem;
  //     font-weight: bold;
  //     text-align: left;
  //     padding: $pad-standard $pad-standard / 2 $pad-standard $pad-standard / 2;
  //     width: 95%;
  //   }
  // }

  .actions-wrap {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25%;

    .actions {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      background-color: $background-color-2;
      border-radius: $radius-minimal;
      // box-shadow: $component-drop-shadow $shadow-color-1;
      box-shadow: $component-light-shadow $shadow-color-2;
      width: 95%;
      height: fit-content;

      .action {
        // note: the margins, padding, and flex-basis should always total up to 33%
        // or however many elements you want per row
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: $margin-standard / 2;
        transition: all 50ms ease-in;
        border-radius: 3rem;
        padding-top: 0.35rem;
        padding-bottom: 0.35rem;
        margin-left: 1%;
        margin-right: 1%;
        padding-left: 1%;
        padding-right: 1%;
        flex-basis: 29%;
        height: 20%;

        &:last-child { margin-bottom: $margin-standard / 2; }

        .name {
          width: 75%;
          text-align: center;
        }
        
        .fa-icon {
          width: 20%
        }

        &:hover, &:active {
          background-color: $background-hover-2;
          color: $font-active-1;
        }
      }
    }
  }

  .activities {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $margin-standard;
    // height: 100%;

    .title {
      font-family: $primary-font, $font-type;
      font-weight: 600;
      font-size: 1.3rem;
      color: $font-color-1;
      margin-bottom: $margin-standard;
      width: 90%;
    }

    .current-wrap {
      // width: 90%;
      // height: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      height: 25%;

      .title {
        font-size: 1rem;
        color: $font-color-1;
        margin-bottom: $margin-standard / 2;
        width: 100%;
      }
      
      .current-activities {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: $background-color-2;
        box-shadow: $component-light-shadow $shadow-color-2;
        border-radius: $radius-minimal;
        width: 100%;
        // height: 80%;
        height: fit-content;

        .activity {
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 50ms ease-in;
          padding-top: 0.2rem;
          padding-bottom: 0.2rem;
          border-radius: 3rem;
          margin-top: $margin-standard / 2;
          margin-left: 1%;
          margin-right: 1%;
          padding-left: 1%;
          padding-right: 1%;
          flex-basis: 45%;
          height: 20%;

          &:last-child { margin-bottom: $margin-standard / 2; }

          .name {
            width: 75%;
            text-align: center;
          }

          .fa-icon {
            width: 20%;
          }

          &:hover, &:active {
            background-color: $background-hover-2;
            color: $font-active-1;
          }
        }
      }
    }

    .add-activities-wrap {
      // width: 90%;
      // height: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      height: 25%;

      .title {
        font-size: 1rem;
        color: $font-color-1;
        margin-top: $margin-standard / 1.5;
        margin-bottom: $margin-standard / 2;
        width: 100%;
      }
      
      .add-activities {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: $background-color-white;
        border: 0.05rem solid $border-color-1;
        box-shadow: $component-light-shadow $shadow-color-gray;
        border-radius: $radius-minimal;
        width: 100%;
        // height: 80%;
        height: fit-content;

        .activity {
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 50ms ease-in;
          padding-top: 0.2rem;
          padding-bottom: 0.2rem;
          border-radius: 3rem;
          margin-top: $margin-standard / 2;
          margin-left: 1%;
          margin-right: 1%;
          padding-left: 1%;
          padding-right: 1%;
          flex-basis: 45%;
          height: 20%;

          &:last-child { margin-bottom: $margin-standard / 2; }

          .name {
            width: 75%;
            text-align: center;
          }

          .fa-icon {
            width: 20%;
          }

          &:hover, &:active {
            background-color: $background-hover-2;
            color: $font-active-1;
          }
        }
      }
    }
  }

  .custom-wrap {
    display: flex;
    justify-content: flex-end;
    margin-top: $margin-standard / 2;
    width: 95%;

    .text {
      font-family: $primary-font, $font-type;
      font-weight: bold;
      // color: $font-color-1;
      padding: 0 $pad-standard 0 $pad-standard;
    }

    .button {
      font-family: $primary-font, $font-type;
      font-weight: bold;
      // color: $font-color-1;
      border: none;
      border-left: 0.05rem solid $border-color-1;
      padding: 0 $pad-standard 0 $pad-standard;
      // margin-left: $margin-standard;
    }
  }

  .notes-wrap {
    display: flex;
    justify-content: center;
    width: 100%;

    .notes {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: $background-color-2;
      border-radius: $radius-minimal;
      // box-shadow: $component-drop-shadow $shadow-color-1;
      box-shadow: $component-light-shadow $shadow-color-2;
      margin-top: $margin-standard * 2;
      width: 85%;
      min-height: 16rem;
  
      .title {
        font-size: 1.1rem;
        text-align: left;
        padding-top: $pad-standard / 2;
        padding-bottom: $pad-standard / 2;
        width: 90%;
      }
  
      textarea {
        font-size: 0.9rem;
        color: $font-hover-1;
        border-radius: $radius-minimal;
        resize: none;
        border: none;
        outline: none;
        margin-bottom: 5%;
        padding: 3%;
        width: 82%;
        height: 77%;
  
        &::placeholder {
          color: $font-color-1;
        }
      }
    }
  }

  .buttons-wrap {
    display: flex;
    justify-content: center;
    margin-top: $margin-standard * 2;
    margin-bottom: $margin-standard * 2;
    width: 100%;

    .buttons {
      display: flex;
      align-items: center;
      width: 85%;

      .close {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;

        button {
          font-family: $primary-font, $font-type;
          font-size: 0.95rem;
          background-color: $background-off-white;
          border: none;
        }
      }

      .submit-all {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;

        button {
          font-family: $primary-font, $font-type;
          font-weight: bold;
          font-size: 1.07rem;
          background-color: $background-color-1;
          color: white;
          transition: all 150ms ease-out;
          // box-shadow: $component-drop-shadow $background-hover-1;
          border-radius: $radius-minimal;
          padding-top: $pad-standard / 2;
          padding-bottom: $pad-standard / 2;
          outline: none;
          border: none;
          width: 100%;

          
          &:hover, &:active {
            background-color: $background-hover-1;
            color: white;
          }
        }

        .disabled {
          background-color: #aaa;
        }
      }
    }
  }
}
